SECRET_KEY_BASE=secret_key_base
MP_DATABASE_HOST=db
MP_DATABASE_USERNAME=mp
MP_DATABASE_PASSWORD=mp
MP_DATABASE_NAME=mp_development
REDIS_URL=redis://redis:6379/0
ELASTICSEARCH_URL=http://el:9200
CHECKIN_HOST=host.de
CHECKIN_ISSUER_URI=https://checkin.issuer.com/auth/realms/testing
CHECKIN_SECRET=checkin_secret
CHECKIN_IDENTIFIER=checkin_identifier
CHECKIN_SCOPE= email,openid,profile
PORT=5000